# 1. Ignora-ho TOT per defecte
*

# 2. Permet l'accés a les carpetes (necessari perquè Git pugui buscar els arxius permesos a dins)
!*/

# 3. Fitxers permesos (Afegeix els que necessitis)
!*.md
!README.md
!.gitignore

# 4. Configuració de l'Obsidian (OBLIGATORI perquè el plugin Git funcioni)
!.obsidian/
!.obsidian/**

# 5. Excepcions dins de l'Obsidian (Arxius que canvien cada segon i no vols pujar a GitHub)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/core-plugins.json
